.cp-container {
  margin-left: 250px;
  padding: 35px 25px 25px 25px;

  @media #{$medium-and-down} {
    margin-left: 0px;
  }

  .panel-container {
    background-color: #fff;
    //border: 1px solid rgba(119, 119, 119, 0.08);
    border-radius: 2px;
    overflow: hidden;
    @extend .z-depth-1;

    .panel-header {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      padding: 15px 20px 15px 20px;
      border-bottom: 1px solid rgba(119, 119, 119, 0.2);
    }

    .panel-content {
      padding: 15px 20px 15px 20px;
    }
  }

  .small {
    margin-left: 10%;
    margin-right: 10%;

    @media #{$small-and-down} {
      margin-left: 0%;
      margin-right: 0%;
    }
  }
}

.iou-container {
  @extend .z-depth-1;
  overflow: hidden;
  border-radius: 2px;

  .panel-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 15px 20px 15px 20px;
    background-color: #fff;
  }

  .iou-content {
    //border: 1px solid rgba(63, 123, 222, 0.8);
    //background: linear-gradient(to right, rgba(63, 123, 222, 0.3), rgba(63, 123, 222, 0.15));
    background-color: white;
    height: auto;
    width: 100%;
  }
}

.no-iou-container {
  padding: 20px 10px 20px 10px;
  min-height: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
  border-top: 1px solid rgba(63, 123, 222, 0.35);
  //background: linear-gradient(to right, rgba(63, 123, 222, 0.2), rgba(63, 123, 222, 0.1));
  background-color: white;

  p {
    font-size: 17px;
  }
}

.iou {
  min-height: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  word-wrap: break-word;
  //border-top: 1px solid rgba(63, 123, 222, 0.35);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding-left: 20px;
  padding-right: 20px;
  //background: linear-gradient(to right, rgba(63, 123, 222, 0.2), rgba(63, 123, 222, 0.1));
  background-color: white;
}

.tx {
  padding: 5px 10px 5px 10px;
  min-height: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  word-wrap: break-word;
  border-top: 1px solid rgba(34, 36, 38, .1);

  .tx-expansion {
    padding-left: 10px;
    width: 100%;
    overflow: hidden !important;
    transition: max-height 0.3s ease-in;
    -webkit-transition: max-height 0.15s ease-in;
  }

  p {
    margin: 10px 0px 10px 0px;
  }

  @media #{$small-and-down} {
    justify-content: space-between;
  }
}

.tx-in {
  color: green !important;
  //background-color: #FCFFF5 !important;
}

.tx-out {
  color: red !important;
  //background-color: #FFF6F6 !important;
}

.iou-expansion {
  width: 100%;
  padding-left: '10px';
  padding-right: '10px';
  overflow: hidden;
  transition: max-height 0.3s ease-in;
  -webkit-transition: max-height 0.15s ease-in;
  //background: linear-gradient(to right, rgba(63, 123, 222, 0.2), rgba(63, 123, 222, 0.1));
  background-color: white;
}

.dropdown {
  cursor: pointer;
  color: $black-text;
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;

  ::selection {
    background: none;
  }
  ::-moz-selection {
    background: none;
  }
}

.trustline-container {
  display: flex;
  justify-content: space-around;
  padding: 20px 20px 20px 20px;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.trustline {
  @extend .z-depth-1;
  padding: 5px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  //padding-left: 10px;
  flex-wrap: wrap;
  width: 300px;
  height: 70px;
  border: 1px solid rgba(63, 123, 222, 0.8);
  background: linear-gradient(to right, rgba(63, 123, 222, 0.2), rgba(63, 123, 222, 0.1));
  background-color: white;
  border-radius: 3px;
  align-items: center;
  margin-bottom: 25px;

  .issuer {
    font-size: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    word-wrap: break-word;

    @media #{$small-and-down} {
      b {
        display: none;
      }
    }
  }

  .balance {
    display: flex;
    justify-content: center;
    font-size: 20px;
  }

  .button-box {
    display: flex;
    align-items: center;
    font-size: 12px;

    a {
      cursor: pointer;
      color: #505558;
      margin-top: 5px;
    }
  }
}

.iou-disabled-button {
  background-color: $bg !important;
  color: $black-text !important;
}

.issuer-text {
  font-size: 14px;
}

.info {
  color: $black-text;
  cursor: pointer;
}

.balance-box {
  width: 100%;
  @extend .z-depth-1;
  border-radius: 2px;
  height: 80px;
  margin-top: 20px;
  display: flex;
  overflow: hidden;

  .currency {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: linear-gradient(to right, #3064ba, $logo);
  }

  .balance {
    background-color: #fff;
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    color: $black-text;
    padding-left: 15px;
  }
}

.overview-panel-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 250px;
  margin-bottom: 30px;

  @media #{$small-and-down} {
    flex-direction: column;
    height: auto;
  }
}

.balance-container {
  width: 30%;
  height: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;

  @media #{$small-and-down} {
    height: auto;
    width: 100%;
  }

  .header-container {
    background-color: #fff;
    height: 50px;
    padding: 15px 20px 15px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(119, 119, 119, 0.2);
    border-radius: 2px;
    width: 100%;
    @extend .z-depth-1;
  }

  .content {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    word-wrap: break-word;
    flex-direction: column;

    a {
      color: green;
    }

    .xlm-balance {
      display: flex;
      flex-direction: column;
      width: auto;
      height: 50%;
      padding-bottom: 15px;

      i {
        text-align: center;
        padding: 3px 3px 3px 3px;
        background-color: $bg;
        border: 1px solid rgba(119, 119, 119, 0.08);
        border-radius: 3px;
        font-size: 18px;
        font-weight: lighter;
      }

      p {
        padding-top: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
      }
    }

    .stratiom-balance {
      display: flex;
      flex-direction: column;
      width: auto;
      height: 50%;

      i {
        text-align: center;
        padding: 3px 3px 3px 3px;
        background-color: $bg;
        border: 1px solid rgba(119, 119, 119, 0.08);
        border-radius: 3px;
        font-size: 18px;
        font-weight: lighter;
      }

      a {
        color: green;
      }

      p {
        margin-bottom: 0px;
        margin-top: 0px;
      }
    }

    p {
      padding: 5px 5px 5px 5px;
      font-size: 17px;
    }
  }
}

.account-info-container {
  background-color: $bg;
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100%;
  background-color: white;
  @extend .z-depth-1;
  border-radius: 2px;
  overflow: hidden;

  @media #{$small-and-down} {
    height: auto;
    margin-bottom: 35px;
    width: 100%;
  }

  .header-container {
    max-width: fill-available;
    min-height: 50px;
    display: flex;
    align-items: center;
    word-wrap: break-word;
    flex-wrap: wrap;
    background-color: white;
    border-bottom: 1px solid rgba(119, 119, 119, 0.2);
    padding: 10px 20px 10px 20px;
    width: 100%;

    a {
      max-width: fill-available;
      color: $black-text;
      word-wrap: break-word;
    }

    .wrapper {
      max-width: fill-available;
      min-width: 0px;
      word-wrap: break-word;
    }
  }

  .content {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    word-wrap: break-word;
    flex-direction: row;

    a {
      color: #505558;
    }

    .stats-container {
      border-right: 1px solid rgba(119, 119, 119, 0.2);
      width: 40%;
      padding: 5px 5px 5px 5px;
      display: flex;
      flex-direction: column;
      background: linear-gradient(to right, #3064ba, $logo);
      color: white;
      justify-content: space-evenly;
      align-items: center;

      @media #{$small-and-down} {
        width: 100%;
        border-right: 0px solid rgba(119, 119, 119, 0.2);
      }
    }

    .content-container {
      display: flex;
      padding-left: 5px;
      min-height: 33px;
    }

    p {
      max-width: 100%;
      margin: 5px 0px 5px 0px;
      word-wrap: break-word;
    }

    @media #{$small-and-down} {
      flex-direction: column;
    }

    .button-box {
      padding: 10px 10px 10px 10px;
      width: 60%;
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: flex-start;

      @media #{$small-and-down} {
        justify-content: space-evenly;
        width: 100%;
      }

      .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        word-wrap: break-word;
        box-shadow: none;

        @media #{$small-and-down} {
          padding: 0px !important;
          font-size: 13px;
        }

        /*a {
          height: 100%;
          width: 100%;
          margin: 0px;
          padding: 0px;
          display: flex;
          flex-direction: column;
          justify-content: center
        }*/

        .blue-button {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $logo !important;
          color: white !important;
          margin-bottom: 10px;
          max-width: 79.2px;
          width: auto;
        }

        .white-button {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: white !important;
          color: $logo !important;
          border: 2px solid $logo;
          margin-bottom: 10px;
          max-width: 83.2px;
          width: auto;

          i {
            width: 100%;
            height: 100%;
            color: $logo !important;
          }
        }
      }
    }
  }
}

.trustline-row {
  word-wrap: break-word;
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0px 5px 0px 5px;

  p {
    word-wrap: break-word;
  }
}

.offer-container {
  @extend .z-depth-1;
  border-radius: 2px;
  overflow: hidden;

  .offer-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 15px 20px 15px 20px;
    border-bottom: 1px solid rgba(119, 119, 119, 0.2);
    background-color: #fff;
  }

  .content {
    height: auto;
    width: 100%;
  }

  .info {
    width: auto;
    @media #{$small-and-down} {
      width: 60px !important;
    }
  }

  .delete {
    cursor: pointer;
    padding-left: 5px;
    color: $black-text;
  }
}

.passive-offer {
  word-wrap: break-word;
  min-height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 20px 0px 20px;
  flex-wrap: wrap;
  //border-top: 1px solid rgba(63, 123, 222, 0.35);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background: $bg;
  //background-color: white;

  @media #{$small-and-down} {
    justify-content: space-between;
  }

  .offer-content {
    padding: 0px 5px 0px 5px
  }
}

.tracker-container {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;

  .divider {
    flex-grow: 1;
    width: fill-available;
  }

  .tracker {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.tutorial {
  height: 400px !important;

  .tutorial-blue {
    text-align: left !important;
    background-color: $logo;
    color: white;
    padding: 20px 20px 20px 20px;
  }

  .tutorial-dark {
    text-align: left !important;
    background-color: $bg-dark;
    color: $bg-dark-text;
    padding: 20px 20px 20px 20px;
  }
}

.tutorial-carousel {
  height: 400px !important;
}

#deletemodal {
  word-wrap: break-word;
  margin-left: calc(12% + 250px);

  @media #{$medium-and-down} {
    margin-left: auto;
  }
}

#offermodal {
  word-wrap: break-word;
  margin-left: calc(12% + 250px);

  @media #{$medium-and-down} {
    margin-left: auto;
  }
}

#inflationmodal {
  word-wrap: break-word;
  margin-left: calc(12% + 250px);

  @media #{$medium-and-down} {
    margin-left: auto;
  }
}

#trustlinemodal {
  word-wrap: break-word;
  margin-left: calc(12% + 250px);

  @media #{$medium-and-down} {
    margin-left: auto;
  }
}

#xlmmodal {
  word-wrap: break-word;
  margin-left: calc(12% + 250px);

  @media #{$medium-and-down} {
    margin-left: auto;
  }
}

#tutorial {
  word-wrap: break-word;
  margin-left: calc(12% + 250px);

  @media #{$medium-and-down} {
    margin-left: auto;
  }
}

#settlementmodal {
  word-wrap: break-word;
  margin-left: calc(12% + 250px);

  @media #{$medium-and-down} {
    margin-left: auto;
  }
}

#info {
  word-wrap: break-word;
  margin-left: calc(12% + 250px);

  @media #{$medium-and-down} {
    margin-left: auto;
  }
}
