.login-panel {
  background-color: #fff;
  border: 1px solid rgba(119, 119, 119, 0.08);
  box-shadow: 0px 1px 0px 1px rgba(119, 119, 119, 0.1);
  height: 400px;
  width: 350px;
  border-radius: 2px;

  @media #{$small-and-down} {
    width: auto;
  }
}

.privkey-panel {
  background-color: #fff;
  border: 1px solid rgba(119, 119, 119, 0.08);
  box-shadow: 0px 1px 0px 1px rgba(119, 119, 119, 0.1);
  width: 500px;
  border-radius: 2px;

  @media #{$small-and-down} {
    width: 85vw;
  }
}

.keygen-panel {
  background-color: #fff;
  border: 1px solid rgba(119, 119, 119, 0.08);
  box-shadow: 0px 1px 0px 1px rgba(119, 119, 119, 0.1);
  max-width: 750px;
  border-radius: 2px;

  @media #{$small-and-down} {
    width: 85vw;
  }
}

.keypair-panel {
  background-color: #fff;
  border: 1px solid rgba(119, 119, 119, 0.08);
  box-shadow: 0px 1px 0px 1px rgba(119, 119, 119, 0.1);
  max-width: 750px;
  border-radius: 2px;

  @media #{$small-and-down} {
    width: 85vw;
  }
}
