.login-panel {
  background-color: #fff;
  //border: 1px solid rgba(119, 119, 119, 0.08);
  @extend .z-depth-1;
  height: 400px;
  width: 350px;
  border-radius: 2px;

  @media #{$small-and-down} {
    width: auto;
  }
}

.privkey-panel {
  background-color: #fff;
  @extend .z-depth-1;
  //border: 1px solid rgba(119, 119, 119, 0.08);
  width: 500px;
  border-radius: 2px;

  @media #{$small-and-down} {
    width: 85vw;
  }
}

.key-panel {
  @extend .z-depth-1;
  background: white;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.keygen-panel {
  background-color: #fff;
  @extend .z-depth-1;
  //border: 1px solid rgba(119, 119, 119, 0.08);
  max-width: 750px;

  @media #{$small-and-down} {
    width: 85vw;
  }
}

.keypair-panel {
  background-color: #fff;
  @extend .z-depth-1;
  //border: 1px solid rgba(119, 119, 119, 0.08);
  max-width: 750px;
  height: auto;

  @media #{$small-and-down} {
    width: 85vw;
  }
}
