.page-container {
  background-color: #fff;
  border: 1px solid rgba(119, 119, 119, 0.08);
  box-shadow: 0px 1px 0px 1px rgba(119, 119, 119, 0.1);
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  border-radius: 5px;

  .content-header {
    border-bottom: 1px solid rgba(119, 119, 119, 0.08);
    padding-left: 20px;
  }

  .content {
    padding-left: 20px;
  }
}

.loader-container {
  width: 100%;
  margin-top: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 250px;

  @media #{$medium-and-down} {
    margin-left: 0px;
  }
}

.refresh-button {
  cursor: pointer;
  height: 50px;
  color: #505558;
  display: flex;
  align-items: center;
  justify-content: center;
}
