.page-container {
  background-color: #fff;
  border: 1px solid rgba(119, 119, 119, 0.08);
  box-shadow: 0px 1px 0px 1px rgba(119, 119, 119, 0.1);
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  border-radius: 2px;

  .content-header {
    padding: 15px 20px 15px 20px;
    border-bottom: 1px solid rgba(119, 119, 119, 0.08);
  }

  .content {
    padding: 15px 20px 15px 20px;
  }
}

.loader-container {
  width: 100%;
  margin-top: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.refresh-button {
  cursor: pointer;
  height: 50px;
  color: #505558;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success-toast {
  background-color: rgba(23, 174, 146, 1);
  box-shadow: 1px 2px 1px 0px rgba(119, 119, 119, 0.15);
}

.error-toast {
  background-color: #cc0000;
  box-shadow: 1px 2px 1px 0px rgba(119, 119, 119, 0.15);
}

.hide-on-small {
  width: auto;
  overflow: hidden;

  @media #{$small-and-down} {
    width: 0px;
  }
}

.selectable {
  cursor: pointer;
}
