$bg: #f2f6f9;
$bg-text: #000;
$bg-dark: #16263d;
$bg-dark-text: #99aac6;
$logo: #3f7bde;
$panel-color: #fff;
$black-text: #505558;

#app {
  font-family: 'Source Sans Pro', sans-serif;
  color: #505558;
  display: flex;
}
