.login-panel {
  background-color: #fff;
  border: 1px solid rgba(119, 119, 119, 0.08);
  box-shadow: 0px 1px 0px 1px rgba(119, 119, 119, 0.1);
  height: 400px;
  width: 350px;
  border-radius: 2px;
}

.privkey-panel {
  background-color: #fff;
  border: 1px solid rgba(119, 119, 119, 0.08);
  box-shadow: 0px 1px 0px 1px rgba(119, 119, 119, 0.1);
  height: 250px;
  width: 500px;
  border-radius: 2px;
}

.keygen-panel {
  background-color: #fff;
  border: 1px solid rgba(119, 119, 119, 0.08);
  box-shadow: 0px 1px 0px 1px rgba(119, 119, 119, 0.1);
  height: 150px;
  width: 750px;
  border-radius: 2px;
}

.keypair-panel {
  background-color: #fff;
  border: 1px solid rgba(119, 119, 119, 0.08);
  box-shadow: 0px 1px 0px 1px rgba(119, 119, 119, 0.1);
  height: 250px;
  width: 750px;
  border-radius: 2px;
}
